.share {
	&-icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--cl-light-grayish-blue);
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		transition: all 0.2s;
		cursor: pointer;
		z-index: 10;

		@media only screen and (max-width: 53.125em) {
			margin: 3rem 3.5rem 3.5rem 3.5rem;
		}
	}

	&-icon {
		width: 1.8rem;
		height: 1.8rem;
		transition: all 0.2s;
	}

	&-icon-container:hover {
		background-color: var(--cl-desaturated-dark-blue);
	}

	&-icon-container:hover &-icon {
		filter: brightness(100);
	}

	&-social-media {
		background-color: var(--cl-very-dark-grayish-blue);
		position: absolute;
		top: -50%;
		right: 5%;
		transform: translate(50%, -100%);
		padding: 2rem 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		border-radius: 1.3rem;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
		transition: all 0.2s;

		@media only screen and (max-width: 53.125em) {
			transform: translate(5%, 80%);
			width: 100%;
			border-radius: 0 0 1.5rem 1.5rem;
			justify-content: flex-start;
			padding: 3rem 3.5rem;
		}

		// From: https://dev.to/flippedcoding/how-to-put-arrows-at-the-bottom-of-a-div-4hnn
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -15px;
			margin: 0 auto;
			width: 0;
			height: 0;
			border-top: 25px solid var(--cl-very-dark-grayish-blue);
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;

			@media only screen and (max-width: 53.125em) {
				display: none;
			}
		}

		span,
		img {
			display: block;
			cursor: pointer;
			transition: all 0.2s;
		}

		img:hover {
			scale: 1.5;
		}

		span {
			color: var(--cl-grayish-blue);
			text-transform: uppercase;
			font-size: 1.4rem;
			letter-spacing: 5px;
		}
	}
}

// Active state when clicked
.share-icon-container.active {
	background-color: var(--cl-desaturated-dark-blue);
}

.share-icon.active {
	filter: brightness(100);
}

// Hide an element
.hidden {
	opacity: 0;
	visibility: hidden;
}
